html, body{
    display: flex;
    height:100%;
    flex-direction: column;
    margin:0;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    height:20%;
    padding-right: 40px;
}
#contenedor{
    display: flex;
    background-color: antiquewhite;
    color: black;
    height: 60%;
    padding-left: 40px;
}
.pie_pagina{
    display: flex;
    background-color: black;
    color: white;
    height: 20%;
    padding-left: 60px;
}
.lateral{
    width: 30%;
    align-items: center;
    justify-content: right;
    padding-right: 40px;
    background-color: aquamarine;
    display:flex
}
ul li{
    display: inline;
    margin-left: 20px;
}
ul li:hover{
    color:brown;
}
.parrafo{
    text-align: justify;
    border: 10px solid;
    border-color: black;
    border-radius: 20px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.principal{
    padding: 0px 30px;
    width: 70%;
}
ol li{
    list-style: none;
}
ol li:hover{
    color:white
}